.nav__btn__container {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    /*font-size: 5rem;*/
}

.nav__btn__list {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-size: var(--nav-btn-fn-size);
    color: black;
}

.nav__active {
    font-size: 7rem;
}

.nav__toggle__btn {
    padding: 0.5rem;
    background: transparent;
    border: none;
    outline: none;
    color: Black;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {

    .nav__btn__container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: blue;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .nav__toggle__btn {
        visibility: visible;
        opacity: 1;
        /*display: block;*/
    }

    .show_nav_btn {
        transform: translateY(0vh);
        display: flex;
        flex-direction: column;
    }
    .nav__close__btn{
        /*position: absolute;*/
        /*top: 5.6rem;*/
        /*right: 5rem;*/
        /*height: 2rem;*/
        /*width: 3rem;*/
        margin-top: 3.2rem;
    }
}

